* {
  font-family: "Raleway", sans-serif;
}
body {
}
a:link {
  text-decoration: none;
}
header, .sectionvacances, .heb, .actsection /*reglages de toutes les sections*/ {
  margin-right: 2em;
  margin-left: 2em;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}
#nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.nav1  /* bouton Hebergement 1*/ {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding-left: 2.188em;
  padding-right: 2.188em;
}
.nav1:hover    /* Mouseover du bouton 1*/ {
  border-top-style: solid;
  border-width: 2px;
  padding-top: 2.312em;
  color: #0065fc;
}
.nav2 /* bouton Activités 2*/ {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding-left: 2.188em;
  padding-right: 2.188em;
}
.nav2:hover /* Mouseover du bouton 2 */ {
  border-top-style: solid;
  border-width: 2px;
  padding-top: 2.312em;
  color: #0065fc;
}
.nav3 /* Bouton s'inscrire */ {
  text-decoration: none;
  color: #0065fc;
  font-size: 16px;
  padding-left: 2.188em;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: medium;
}
.searchbar   /* Groupe de la barre de recherche */ {
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  overflow: hidden;
  width: 380px;
  height: 50px;
  margin-top: 30px;
  border: 2px #8080801a solid;
  border-radius: 10px 10px 10px 10px;
}
.fa-map-marker-alt   /* Icone "localisation" de la barre de recherche */ {
  background-color: #8080801a;
  font-size: 1.3rem;
  padding: 15px;
  border: 2px #80808000 solid;
  border-radius: 8px 0px 0px 8px;
}
input   /* Barre de recherche */ {
  background-color: #f2f2f2;
  padding: 16px 15px;
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: black;
  transition: all 240ms ease-out;
  width: 85%;
  border: none;
}
input:focus {
  outline: none;
}
button   /* Bouton "rechercher" */ {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #0065fc;
  padding: 16px 32px;
  border-radius: 0px 8px 8px 0px;
  font-size: 1rem;
  font-weight: bolder;
  color: #f2f2f2;
  margin-bottom: 15px;
}
#filtres /* partie filtres */ {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}
.fa-money-bill-wave,
.fa-heart,
.fa-child,
.fa-dog   /* Icones Filtres */ {
  font-size: 100%;
  border-radius: 25px 25px 25px 25px;
  color: #0065fc;
  padding: 0.937em;
  margin-right: 1.25em;
  background-color: #deebff;
}
.fa-child {
  padding-left: 1.062em;
  padding-right: 1.062em;
}
.fa-money-bill-wave {
  padding-left: 0.812em;
  padding-right: 0.812em;
}
.boutonfiltres   /* bouton complet filtres */ {
  display: flex;
  border: 2px #f2f2f2 solid;
  border-radius: 25px 25px 25px 25px;
  border-left: none;
  margin-left: 2.125em;
  padding-right: 1.5em;
}
.boutonfiltres:hover {
  background-color: #deebff;
  border: 2px #deebff solid;
}
#info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 3%;
}
.fa-info {
  /* Icone Info */
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 80%;
  border-radius: 100%;
  color: #0065fc;
  border: 2px #f2f2f2 solid;
  padding: 1%;
  margin-right: 12px;
}
.heb   /*Section Hebergement+Aside*/ {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.hebsection   /* Hebergement*/ {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 3%;
  box-sizing: border-box;
  max-width: 885px;
}
.agencevignette /* agencements vignettes hebergement */ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.vignettesheb   /* reglagles vignettes hebergement*/ {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 200px;
  width: 246px;
  border-radius: 10px;
  margin: 0.75em;
}
.imgheb   /* Reglages images dans la vignettes */ {
  padding-top: 4px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 114px;
  width: 236px;
}
.titreheb   /*titre hebergement*/ {
  padding-left: 1.9em;
  padding-top: 1%;
}
.titreaff   /* titre afficher*/ {
  padding-left: 1.9em;
  padding-bottom: 1%;
}
.textheb /* Text Vignettes Hebergements */ {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-size: small;
  color: black;
}
.agencestar   /*agencement etoile*/ {
  display: flex;
  flex-direction: row;
}
.star {
  color: #0065fc;
}
.stargris {
  margin-left: 3px;
  color: #f2f2f2;
}
.hebaside  /*Aside de l'hebergement*/ {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;
}
.agencevignetteaside   /* agencements vignettes aside*/ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.vignettesaside   /* reglages vignettes aside*/ {
  background-color: #ffffff;
  display: flex;
  height: 144px;
  width: 343px;
  border-radius: 10px;
  margin: 14px;
}
.imgaside   /* reglages images dans la vignettes */ {
  padding-top: 5px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 134px;
  width: 128px;
}
.agencetitreaside   /*agencement titre et icone */ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titreaside   /*titre aside*/ {
  padding-left: 5%;
  padding-top: 2%;
}
.fa-chart-line   /* icone aside*/ {
  font-size: 1.33em;
  vertical-align: -25%;
  padding-top: 4%;
  padding-right: 16%;
}
.textaside   /* Textes Vignettes Aside */ {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-size: small;
  padding-top: 5%;
  justify-content: space-between;
  padding-bottom: 5%;
  color: black;
}
.actblocvignette /* agencements blocs vignettes activités*/ {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.actvignette /* agencements du bloc activités*/ {
  display: flex;
}
.vignettesact1   /* reglagles vignettes activités 1*/ {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  height: 236px;
  width: 304px;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
  margin-bottom: 44px;
}
.vignettesact2   /* reglagles vignettes activités 2*/ {
  display: flex;
  flex-wrap: wrap;
  height: 166px;
  width: 304px;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
}
.vignettesact3   /* reglagles vignettes activités 3*/ {
  display: flex;
  flex-wrap: wrap;
  height: 196px;
  width: 304px;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
  margin-bottom: 40px;
}
.vignettesact4   /* reglagles vignettes activités 4*/ {
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  width: 304px;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
}
.vignettesactbig,.vignettesactbigright   /* reglagles vignettes activités Big et Big right*/ {
  background-color: #ffffff;
  height: 446px;
  width: 304px;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
  margin-right: 3em;
}
.vignettesactbigright {
  margin-left: 3em;
}
.imgact1   /* Reglages images dans la vignettes 1 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 180px;
  width: 304px;
  object-fit: cover;
}
.imgact2   /* Reglages images dans la vignettes 2 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 304px;
  height: 108px;
  object-fit: cover;
}
.imgact3   /* Reglages images dans la vignettes 3 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 304px;
  height: 140px;
  object-fit: cover;
}
.imgact4   /* Reglages images dans la vignettes 4 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 304px;
  height: 152px;
  object-fit: cover;
}
.imgactbig   /* Reglages image des vignettes BIG */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 390px;
  width: 304px;
  object-fit: cover;
}
.titreact   /*titre activités*/ {
  padding-top: 4.27em;
  padding-bottom: 1.71em;
}
.textact   /* texte vignettes activités */ {
  display: flex;
  padding-left: 1em;
  font-size: medium;
  color: black;
}
.textactbig   /* textes vignettes activités Big */ {
  font-size: medium;
  padding-left: 1em;
  padding-top: 1em;
  color: black;
}
ol {
  list-style-type: none;
}
footer {
  background-color: #f2f2f2;
  margin-top: 5em;
}
#footerlist  /* liste a puce footer*/ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.foot   /* texte espacement footer*/ {
  padding-right: 13.31em;
}
li {
  margin: 1em;
}
@media screen and (max-width: 1024px) {
  .fa-money-bill-wave,
.fa-heart,
.fa-child,
.fa-dog   /* Icones Filtres */ {
padding: 0.93em;
margin-right: 0.5em;
}
.agencevignette /* agencements vignettes hebergement */ {
  justify-content: flex-start;
}
.vignettesactbigright {
    margin-left: 0em;   
}
.actvignette {
  margin-bottom: 3em;
}