* {
  font-family: "Raleway", sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  margin-left: 10%;
}
.title {
  display: flex;
}
#nav {
  display: flex;
  margin-top: 20px;
  padding-right: 3%;
}
.nav1  /* bouton Hebergement 1*/ {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.nav1:hover    /* Mouseover du bouton 1*/ {
  border-top-style: solid;
  border-width: 2px;
  padding-top: 26px;
  color: #0065fc;
}
.nav2 /* bouton Activités 2*/ {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 20px;
}
.nav2:hover /* Mouseover du bouton 2 */ {
  border-top-style: solid;
  border-width: 2px;
  padding-top: 26px;
  color: #0065fc;
}
.nav3 {
  /* Bouton s'inscrire */
  text-decoration: none;
  color: #0065fc;
  font-size: 16px;
  margin-right: 50px;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: medium;
}
.searchbar {
  /* Groupe de la barre de recherche */
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  overflow: hidden;
  width: 380px;
  height: 50px;
  margin-top: 30px;
  border: 2px #8080801a solid;
  border-radius: 10px 10px 10px 10px;
}
.fa-map-marker-alt {
  /* Icone "localisation" de la barre de recherche */
  background-color: #8080801a;
  font-size: 1.3rem;
  padding: 15px;
  border: 2px #80808000 solid;
  border-radius: 8px 0px 0px 8px;
}
input {
  /* Barre de recherche */
  background-color: #f2f2f2;
  padding: 16px 15px;
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: black;
  transition: all 240ms ease-out;
  width: 85%;
  border: none;
}
input:focus {
  outline: none;
}
button {
  /* Bouton "rechercher" */
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #0065fc;
  padding: 16px 32px;
  border-radius: 0px 8px 8px 0px;
  font-size: 1rem;
  font-weight: bolder;
  color: #f2f2f2;
  margin-bottom: 15px;
}
#filtres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 2%;
}
.fa-money-bill-wave,
.fa-heart,
.fa-child,
.fa-dog {
  /* Icones Filtres */
  font-size: 100%;
  border-radius: 25px 25px 25px 25px;
  color: #0065fc;
  padding: 15px;
  margin-right: 20px;
  background-color: #deebff;
}
.fa-child {
  padding-left: 17px;
  padding-right: 17px;
}
.fa-money-bill-wave {
  padding-left: 13px;
  padding-right: 13px;
}
.boutonfiltres {
  /* bouton complet filtres */
  display: flex;
  border: 2px #f2f2f2 solid;
  border-radius: 25px 25px 25px 25px;
  border-left: none;
  margin-left: 15px;
  padding-right: 15px;
}
.boutonfiltres:hover {
  background-color: #deebff;
  border: 2px #deebff solid;
}
#info {
  display: flex;
}
.fa-info {
  /* Icone Info */
  display: flex;
  font-size: 100%;
  border-radius: 50%;
  color: #0065fc;
  border: 2px #f2f2f2 solid;
  padding: 5px;
  width: 15px;
  height: 15px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-right: 15px;
}
#heb {
  /*Section Hebergement+Aside*/
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.hebsection {
  /* Hebergement*/
  background-color: #f2f2f2;
  min-width: 30%;
  max-height: 30%;
  border-radius: 20px;
  margin-right: 5%;
}
#agencevignette {
  /* agencements vignettes hebergement*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
}
#vignettesheb {
  /* reglagles vignettes hebergement*/
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 200px;
  width: 246px;
  border-radius: 10px;
  margin: 14px;
}
.imgheb {
  /* Reglages images dans la vignettes */
  padding-top: 4px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 114px;
  width: 236px;
}
.titreheb {
  /*titre hebergement*/
  padding-left: 35px;
  padding-top: 2%;
}
.titreaff {
  /* titre afficher*/
  padding-left: 35px;
}
.textheb {
  /* Text Vignettes Hebergements */
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-size: small;
}
.agencestar {
  /*agencement etoile*/
  display: flex;
  flex-direction: row;
}
.star {
  color: #0065fc;
}
.stargris {
  margin-left: 3px;
  color: #f2f2f2;
}
.hebaside {
  /*Aside*/
  background-color: #f2f2f2;
  max-width: 30%;
  border-radius: 20px;
}
#agencevignetteaside {
  /* agencements vignettes aside*/
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 34px;
}
#vignettesaside {
  /* reglagles vignettes aside*/
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 144px;
  width: 343px;
  border-radius: 10px;
  margin: 14px;
}
.imgaside {
  /* Reglages images dans la vignettes */
  padding-top: 5px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 134px;
  width: 128px;
}
.agencetitreaside {
  /*agencement titre et icone */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titreaside {
  /*titre aside*/
  padding-left: 12%;
  padding-top: 2%;
}
.fa-chart-line {
  /* icone aside*/
  font-size: 1.33em;
  vertical-align: -25%;
  padding-top: 5%;
  padding-right: 12%;
}
.textaside {
  /* Text Vignettes Aside */
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-size: small;
  padding-top: 5%;
  justify-content: space-between;
  padding-bottom: 5%;
}
#act {
  /*Section Activités*/
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.actsection {
  /*activités*/
  display: flex;
  flex-direction: row;
  min-width: 30%;
  max-height: 30%;
  border-radius: 20px;
}
#actvignette {
  /* agencements vignettes activités*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#actvignetteright {
  /* agencements vignettes activités droite*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 8%;
}
#vignettesact {
  /* reglagles vignettes hebergement*/
  background-color: #070707e1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 200px;
  width: 246px;
  border-radius: 10px;
  margin: 14px;
}
#vignettesactbig {
  /* reglagles vignettes activités Big*/
  background-color: #ffffff;
  height: 446px;
  width: 308px;
  border-radius: 10px;
  margin: 14px;
  box-shadow: 6px 6px 4px #f2f2f2;
}
.imgact {
  /* Reglages images dans la vignettes */
  padding-top: 4px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 114px;
  width: 236px;
}
.imgactbig {
  /* Reglages image dans la vignette BIG */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 390px;
  width: 308px;
}
.titreact {
  /*titre activités*/
  padding-left: 35px;
  padding-top: 2%;
}
.textact {
  /* Texte Vignettes Activités */
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-size: small;
}
.textactbig {
  /* Texte Vignettes Activités Big */
  font-size: medium;
  padding-left: 5%;
  padding-top: 4%;
}
ol {
  list-style-type: none;
}
section {
  margin-left: 5%;
  margin-right: 5%;
}
footer {
  background-color: #f2f2f2;
}

#footerlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
