* {
	font-family: 'Raleway', sans-serif;
}
header
{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}
.title
{
display: flex;
}
#nav
{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap-reverse;
}
.nav1  /* bouton Hebergement 1*/
{   
    text-decoration: none;
    color: black;
    font-size: 16px;    
}
.nav1:hover    /* Mouseover du bouton 1*/
{
    border-top-style: solid;
    border-width: 2px;
    padding-top: 16px;
    color: #0065FC;
}
.nav2 /* bouton Activités 2*/
{   
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin: 20px;
}
.nav2:hover /* Mouseover du bouton 2 */
{
    border-top-style: solid;
    border-width: 2px;
    padding-top: 16px;
    color: #0065FC;
}
.nav3
{   
    text-decoration: none;
    color: #0065FC;
    font-size: 16px;
    margin-right: 10px;
}
h1
{
    font-size: 14px;
}
h2
{
    font-size: 12px;
}
#searchbar
{
    border: 2px solid;
    border-radius: 20px;
    border-color: #F2F2F2;
    width: 290px;
    min-width: 290px;
}
.fa-map-marker-alt
{
    background-color: #F2F2F2;
    padding-left: 5px;
    border: 2px #F2F2F2 solid ; 
    border-radius: 20px; 
}
#button
{
    color: white;
    background: #0065FC;
}
section
{
    margin-left: 30px;
}
ol
{
    list-style-type: none;
}
footer
{
    background-color: #F2F2F2;
}

#footerlist
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}