* {
  font-family: "Raleway", sans-serif;
}
a:link {
  text-decoration: none;
}
body {
  max-width: 1440px;
}
header, .sectionvacances, .heb, .actsection /*reglages de toutes les sections*/ {
  margin-right: 2em;
  margin-left: 2em;
}
.nav {
  padding-top: 1em;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 11.3em 9em 4.5em;
}
.nav1  /* bouton Hebergement 1*/ {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding-left: 2.188em;
  padding-right: 2.188em;
}
.nav1:hover    /* Mouseover du bouton 1*/ {
  border-top-style: solid;
  border-width: 2px;
  padding-top: 1.8em;
  color: #0065fc;
}
.nav2 /* bouton Activités 2*/ {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding-left: 2.188em;
  padding-right: 2.188em;
}
.nav2:hover /* Mouseover du bouton 2 */ {
  border-top-style: solid;
  border-width: 2px;
  padding-top: 1.8em;
  color: #0065fc;
}
.nav3 /* Bouton s'inscrire */ {
  text-decoration: none;
  color: #0065fc;
  font-size: 1em;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: medium;
}
h3 {
  display: none;
}
.loupe {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.bar {
  display: flex;
}
.searchbar   /* Groupe de la barre de recherche */ {
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  overflow: hidden;
  width: 18em;
  height: 3.125em;
  margin-top: 1.875em;
  border: 2px #8080801a solid;
  border-right: hidden;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.fa-map-marker-alt   /* Icone "localisation" de la barre de recherche */ {
  background-color: #8080801a;
  font-size: 1.3rem;
  padding: 15px;
  border: 2px #80808000 solid;
  border-radius: 8px 0px 0px 8px;
}
input   /* Barre de recherche */ {
  background-color: #ffffff;
  padding: 16px 15px;
  display: block;
  font-weight: bold;
  font-size: 1em;
  color: black;
  transition: all 240ms ease-out;
  width: 100%;
  border: none;
}
input:focus {
  outline: none;
}
button   /* Bouton "rechercher" */ {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #0065fc;
  padding: 1em 2em;
  border-radius: 0px 8px 8px 0px;
  font-size: 1rem;
  font-weight: bolder;
  color: #f2f2f2;
  margin-top: 1.875em;
}
.agencementfiltres {
  display: flex;
}
.filtre /* partie filtres */ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
}
.fa-money-bill-wave,
.fa-heart,
.fa-child,
.fa-dog   /* Icones Filtres */ {
  font-size: 100%;
  border-radius: 25px 25px 25px 25px;
  color: #0065fc;
  padding: 0.937em;
  margin-right: 1.25em;
  background-color: #deebff;
}
.fa-child {
  padding-left: 1.062em;
  padding-right: 1.062em;
}
.fa-money-bill-wave {
  padding-left: 0.812em;
  padding-right: 0.812em;
}
.boutonfiltres   /* bouton complet filtres */ {
  display: flex;
  flex-direction: row;
  border: 3px #f2f2f2 solid;
  border-radius: 25px 25px 25px 25px;
  border-left: none;
  margin-left: 2.125em;
  padding-right: 1.5em;
}
.boutonfiltres:hover {
  background-color: #deebff;
  border: 2px #deebff solid;
}
#info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 3%;
}
.fa-info {
  /* Icone Info */
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 80%;
  border-radius: 100%;
  color: #0065fc;
  border: 2px #f2f2f2 solid;
  padding: 1%;
  margin-right: 0.75em;
}
.heb   /*Section Hebergement+Aside*/ {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.hebsection   /* Hebergement*/ {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 5%;
  box-sizing: border-box;
}
.agencevignette /* agencements vignettes hebergement */ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.vignettesheb   /* reglagles vignettes hebergement*/ {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 12.5em;
  width: 15.375em;
  border-radius: 10px;
  margin: 0.75em;
}
.imgheb   /* Reglages images dans la vignettes */ {
  padding-top: 0.312em;
  padding-left: 0.312em;
  padding-right: 0.312em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 7.125em;
  width: 14.75em;
  object-fit: cover;
}
.titreheb   /*titre hebergement*/ {
  padding-left: 2.1em;
  padding-top: 1%;
}
.titreaff   /* titre afficher*/ {
  padding-left: 2.1em;
  padding-bottom: 1%;
}
.textheb /* Text Vignettes Hebergements */ {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  font-size: 0.9em;
  color: black;
}
.agencestar   /*agencement etoile*/ {
  display: flex;
  flex-direction: row;
}
.star {
  color: #0065fc;
}
.stargris {
  margin-left: 0.187em;
  color: #f2f2f2;
}
.hebaside  /*Aside de l'hebergement*/ {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;
}
.agencevignetteaside   /* agencements vignettes aside*/ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.vignettesaside   /* reglages vignettes aside*/ {
  background-color: #ffffff;
  display: flex;
  height: 9em;
  width: 21.43em;
  border-radius: 10px;
  margin: 0.875em;
}
.imgaside   /* reglages images dans la vignettes */ {
  padding-top: 0.312em;
  padding-left: 0.312em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 8.375em;
  width: 8em;
  object-fit: cover;
}
.agencetitreaside   /*agencement titre et icone */ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titreaside   /*titre aside*/ {
  padding-left: 5%;
  padding-top: 2%;
}
.fa-chart-line   /* icone aside*/ {
  font-size: 1.33em;
  vertical-align: -50%;
  padding-top: 6%;
  padding-right: 6%;
}
.textaside   /* Textes Vignettes Aside */ {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  font-size: small;
  padding-top: 5%;
  justify-content: space-between;
  padding-bottom: 5%;
  color: black;
}
.actblocvignette /* agencements blocs vignettes activités*/ {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.actvignette /* agencements du bloc activités*/ {
  display: flex;
}
.vignettesact1   /* reglagles vignettes activités 1*/ {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  height: 14.75em;
  width: 19em;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
  margin-bottom: 44px;
}
.vignettesact2   /* reglagles vignettes activités 2*/ {
  display: flex;
  flex-wrap: wrap;
  height: 10.375em;
  width: 19em;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
}
.vignettesact3   /* reglagles vignettes activités 3*/ {
  display: flex;
  flex-wrap: wrap;
  height: 10.375em;
  width: 19em;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
  margin-bottom: 40px;
}
.vignettesact4   /* reglagles vignettes activités 4*/ {
  display: flex;
  flex-wrap: wrap;
  height: 13.125em;
  width: 19em;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
}
.vignettesactbig,.vignettesactbigright   /* reglagles vignettes activités Big et Big right*/ {
  background-color: #ffffff;
  height: 27.875em;
  width: 19em;
  border-radius: 1em;
  box-shadow: 0px 6px 2px #f2f2f2;
  margin-right: 3em;
}
.vignettesactbigright {
  margin-left: 3em;
}
.imgact1   /* Reglages images dans la vignettes 1 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 11.25em;
  width: 19em;
  object-fit: cover;
}
.imgact2   /* Reglages images dans la vignettes 2 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 19em;
  height: 6.75em;
  object-fit: cover;
}
.imgact3   /* Reglages images dans la vignettes 3 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 19em;
  height: 8.75em;
  object-fit: cover;
}
.imgact4   /* Reglages images dans la vignettes 4 */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 19em;
  height: 9.5em;
  object-fit: cover;
}
.imgactbig   /* Reglages image des vignettes BIG */ {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 24.375em;
  width: 19em;
  object-fit: cover;
}
.titreact   /*titre activités*/ {
  padding-top: 4.27em;
  padding-bottom: 1.71em;
}
.textact   /* texte vignettes activités */ {
  display: flex;
  padding-left: 1em;
  font-size: medium;
  color: black;
}
.textactbig   /* textes vignettes activités Big */ {
  font-size: medium;
  padding-left: 1em;
  padding-top: 1em;
  color: black;
}
ol {
  list-style-type: none;
}
footer {
  background-color: #f2f2f2;
  margin-top: 5em;
}
#footerlist  /* liste a puce footer*/ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.foot   /* texte espacement footer*/ {
  padding-right: 13.31em;
}
li {
  margin: 1em;
}
@media screen and (min-width: 720px) and (max-width: 1439px) {
  .agencevignette /* agencements vignettes hebergement */ {
    justify-content: flex-start;
  }
  .agencementfiltres {
    display: flex;
    flex-wrap: wrap;
  }
  .filtre {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .boutonfiltres {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 1em;
  }
  .titreheb,
  .titreaff {
    padding-left: 1em;
  }
  .actvignette {
    margin-bottom: 3em;
    justify-content: flex-start;
  }
  .actvignette {
    margin-left: auto;
    margin-right: auto;
  }
  .vignettesactbigright {
    margin-left: 0em;
  }
  .hebaside  /*Aside de l'hebergement*/ {
    padding-left: 0;
    padding-right: 0;
  }
  .foot   /* texte espacement footer*/ {
    padding-right: 0;
  }
  body {
    margin: auto;
  }
}
@media screen and (max-width: 719px) {
  .rechercher {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .loupe {
    position: initial;
  }
  .searchbar   /* Groupe de la barre de recherche */ {
    width: 19em;
    border-right: 0px;
  }
  input   /* Barre de recherche */ {
    width: 100%;
  }
  button   /* Bouton "rechercher" */ {
    position: relative;
    right: 10px;
    padding: 1em 1.3em;
    border-radius: 15px 15px 15px 15px;
    height: auto;
    color: #ffffff;
    height: 3.4em;
  }
  header,.sectionvacances,.actsection,.heb /*reglages de toutes les sections*/ {
    margin-right: 0;
    margin-left: 0;
  }
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
  }
  .nav1r {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .nav2r {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .nav3r {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .agencementfiltres {
    display: flex;
    flex-wrap: wrap;
  }
  .filtre {
    flex-direction: column;
  }
  .boutonfiltres {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0.5em;
  }
  .vignettesact1,.vignettesact2,.vignettesact3,.vignettesact4,   /* reglagles des vignettes*/ {
    height: 11.875em;
    width: 20.937em;
  }
  .imgact1,.imgact2,.imgact3,.imgact4,    /* Reglages des images */ {
    height: 8.375em;
    width: 20.937em;
  }
  .imgheb,
  .vignettesheb {
    width: 20.937em;
  }
  .vignettesheb {
    box-shadow: 4px 4px 6px #f2f2f2, -4px -4px 6px #f2f2f2;
  }
  .actvignette {
    margin-bottom: 3em;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .vignettesactbig,.vignettesactbigright   /* reglagles vignettes activités Big et Big right*/ {
    display: none;
  }
  .heb {
    flex-direction: column;
    margin: 0;
  }
  .hebsection {
    order: 2;
    background: none;
  }
  .hebaside  /*Aside de l'hebergement*/ {
    order: 1;
    padding-left: 0;
    padding-right: 0;
    min-width: 371px;
    border-radius: 0;
  }
  .titreaside {
    padding-left: 0.5em;
  }
  .foot   /* texte espacement footer*/ {
    padding-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  body {
    margin: auto;
  }
}
